<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fiendfyre.AdHell2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.sec.MDM_FIREWALL"/>
    <uses-permission android:name="android.permission.sec.MDM_APP_MGMT"/>
    <uses-permission android:name="android.permission.sec.MDM_APP_PERMISSION_MGMT"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name="com.fiendfyre.AdHell2.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fiendfyre.AdHell2.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.fiendfyre.AdHell2.service.BlockedDomainService"
            android:exported="false"/>
        <service
            android:name="com.fiendfyre.AdHell2.service.HeartbeatIntentService"
            android:exported="false"/>

        <receiver
            android:name="com.fiendfyre.AdHell2.receiver.CustomDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/enterprise_device_admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.fiendfyre.AdHell2.receiver.BlockedDomainAlarmReceiver"
            android:process=":remote"/>
        <receiver android:name="com.fiendfyre.AdHell2.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.fiendfyre.AdHell2.receiver.AdhellDownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.fiendfyre.AdHell2.receiver.ApplicationsListChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>